.header{
  padding: 80px; 
  text-align: center; 
  background: #1abc9c;
  color: white;
}
.header h1{
  font-size: 100px;
}

.nav_link{
    color: purple;
    text-decoration: none;
    padding: 20px;
}
.nav_link:hover{
    background-color: red;
    color: black;
    border-radius: 20px;
}

#header-container{
    width :90%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery{
    margin: 10px;
    border: 1px solid black;
    width: 350px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery:hover{
    border: 1px solid rgb(78, 133, 252);
}


.gallery img{
    width: 100%;
    height: auto;
}


.desc{
    padding: 15px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

table{
  width: 100%;
}

th{
  background-color: black;
  color: white;
  padding: 10px;
}

td{
  background-color: rgb(29, 29, 29);
  color: white;
  text-align: center;
  padding: 50px;
}

#barcelona{
  display: flex;
  flex-direction: row;
  justify-content: center;
}